// прижатие подвала к низу страницы
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
	// ограничивающий контейнер
	.container { 
		width: 1200px;
		padding: 15px 0px 15px 0px;
	}